[global]
fsid = {{ ceph_cluster_fsid }}
mon_initial_members = {% for host in groups['ceph_monitors'] %}{{ hostvars[host].ansible_facts['hostname'] | default(hostvars[host].inventory_hostname) }}{% if not loop.last %},{% endif %}{% endfor %}

mon_host = {% for host in groups['ceph_monitors'] %}{{ hostvars[host].ansible_host }}:6789{% if not loop.last %},{% endif %}{% endfor %}

public_network = {{ ceph_public_network | default('192.168.56.0/24') }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx

# Performance tuning
osd_journal_size = 5120
osd_pool_default_size = 3
osd_pool_default_min_size = 2
osd_pool_default_pg_num = 128
osd_pool_default_pgp_num = 128

# Bluestore backend (recommended)
osd_objectstore = bluestore

# Recovery tuning
osd_recovery_max_active = 3
osd_max_backfills = 1
osd_recovery_sleep = 0.1
