---
# Bootstrap playbook to install required dependencies
- name: Bootstrap playbook
  import_playbook: bootstrap.yml

# Main playbook to orchestrate the full setup
- name: Configure all hosts
  hosts: all
  serial: 1
  tags:
    - common
  roles:
    - common

- name: Setup Kubernetes cluster
  import_playbook: kubernetes.yml
  tags:
    - kubernetes

- name: Setup Ceph cluster
  import_playbook: ceph.yml
  tags:
    - ceph
# - name: Setup Ceph CSI RBD for Kubernetes integration
#   import_playbook: k8s-ceph-csi.yml
#   tags:
#     - k8s-ceph-csi
